body {
background-color: #F5B7B1;
width: 800px;
margin:auto;

font-family: arial;
}

p {
  font-family: courier;
  font-size: 15px;
}

h1{
  text-align: center;
  border: 2px solid green;
  background-color: #5DADE2;
  font-size: 50px;
  font-style: italic;
  margin: 40px;
  padding: 60px;
}

h2{
  font-size: 20px;

}
